apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{service}}-network-policy
  namespace: {{namespace}}
spec:
  # Normally you should have a pod selector to
  # affect only the service' pods. If not it is
  # up to someone else to do something with {}
  podSelector:{{^podSelector}}{}{{/podSelector}}
{{#podSelector.length}}
    matchLabels:
    app: {{podSelector}}
{{/podSelector.length}}
  policyTypes:
  - Ingress
  - Egress
  ingress:
  # all from same namespace via usual HTTP(s)
  - from:
    - namespaceSelector:
        matchLabels:
          name: {{namespace}}
    ports:
      - protocol: TCP
        port: 8080
      - protocol: TCP
        port: 443
      - protocol: TCP
        port: 80
{{#ingress}}
# ingress from resource {{resourceName}}
{{#handleResource}}{{resourceName}}{{/handleResource}}
{{/ingress}}

{{#ingressFromDomains}}
# ingress from domain {{domain}}
  - from:
    - namespaceSelector:
        matchLabels:
          service: {{domain}}
      podSelector:
        matchLabels:
          app: {{podSelector}}
{{/ingressFromDomains}}

  egress:
  # DNS, if not necessary remove it, if switchable, make
  # it a uses-declaration
  - ports:
    - port: 53
      protocol: UDP
    - port: 53
      protocol: TCP

{{#egress}}
# egress to resource {{resourceName}}

{{#handleResource}}{{resourceName}}{{/handleResource}}
{{/egress}}

